In [1]:
import kaggle
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [2]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
import pandas as pd
df = pd.read_csv('orders.csv', na_values = ['Not Available', 'unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [6]:
df.columns

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'cost price', 'List Price', 'Quantity',
       'Discount Percent'],
      dtype='object')

In [4]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

In [5]:
#derive new colunm discount, sale price and profit
df['discount'] = df['list_price'] * df['discount_percent']*.01

#derive Selling Price
df['selling_price'] = df['list_price']-df['discount']

#derive Profit
df['profit'] = df['selling_price']-df['cost_price']

In [6]:
df.head(3)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,selling_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5

In [7]:
#convert order date from object data type to date time
df['order_date'] = pd.to_datetime(df['order_date'], format = "%Y-%m-%d")

In [8]:
#drop cost price, list price and discount percent column
df.drop(columns = ['list_price', 'cost_price', 'discount_percent'], inplace = True)

In [9]:
pip install sqlalchemy pyodbc

Requirement already satisfied: sqlalchemy in c:\users\snehil gupta\appdata\local\programs\python\python312\lib\site-packages (2.0.31)
Requirement already satisfied: pyodbc in c:\users\snehil gupta\appdata\local\programs\python\python312\lib\site-packages (5.1.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\snehil gupta\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\snehil gupta\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import sqlalchemy as sal

# Replace with your SQL Server connection details
server_name = 'SNEHILS-VIVOBOO\\SQLEXPRESS'
database_name = 'master'
driver = 'ODBC+DRIVER+17+FOR+SQL+SERVER'

# Create the connection string
connection_string = f'mssql://@{server_name}/{database_name}?driver={driver}'

# Create the engine and connect
engine = sal.create_engine(connection_string)
conn = engine.connect()

# Test the connection by running a sample query
#result = conn.execute('SELECT @@version;').fetchall()
#print(result)

# Remember to close the connection when done
#conn.close()

In [16]:
#Load the data into SQL Server using append option
df.to_sql('df_orders', con=conn, index=False, if_exists = 'append')

38

In [15]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'selling_price', 'profit'],
      dtype='object')